/* all colors must have at least 3:1 contrast ratio. */
/* https://webaim.org/resources/contrastchecker/ */
html {  /* light */
  --fgcolor: #222;
  --bgcolor: #e8e8e8;
  --nameclr: #aa0000;
  --prefbg:  #e0e0e0;
  --prefbox: hsl(0,0%,70%); /* same as button bg */
  --red:     0 0 0.10em 0.1em #FF0000;
  --lastone: 0 0 0.10em 0.1em #0000FF;
  --focus:   0 0 0.25em 0.1em black;
  --focused-lastone: var(--lastone), var(--focus);  /* order is important */
  --repeat-red:      var(--red),     var(--focus);  /* order is important */
}
#dark_chk:checked ~ * {  /* dark */
  --fgcolor: #eee;
  --bgcolor: #222;
  --nameclr: #ff6666;
  --prefbg:  #333;
  --prefbox: hsl(0,0%,50%); /* same as button bg */
  --red:     0 0 0.10em 0.15em #FF2222;
  --lastone: 0 0 0.10em 0.15em #8888FF;
  --focus:   0 0 0.25em 0.15em white;
  --focused-lastone: var(--lastone), var(--focus);  /* order is important */
  --repeat-red:      var(--red),     var(--focus);  /* order is important */
}
/***/
button[data-r]:focus { box-shadow: var(--focus) }
.lastone             { box-shadow: var(--lastone) }
.lastone:focus       { box-shadow: var(--focused-lastone) !important }
.repeatlast          { box-shadow: var(--repeat-red)      !important }
.lastsura {
  text-decoration: underline;
}
/***/
.selected {
  box-shadow: 0 0 0 0.2em #0000FF,
              0 0 0 0.1em black;
}
#dark_chk:checked ~ * .selected {
  box-shadow: 0 0 0 0.2em #6666FF,
              0 0 0 0.1em white;
}
/***/
#dark_chk:checked ~ * button { background-color: hsl(  0,   0%, 50%) }
#dark_chk:checked ~ * .ef13  { background-color: hsl(  0, 100%, 44%) }
#dark_chk:checked ~ * .ef14  { background-color: hsl( 10, 100%, 42%) }
#dark_chk:checked ~ * .ef15  { background-color: hsl( 20, 100%, 40%) }
#dark_chk:checked ~ * .ef16  { background-color: hsl( 30, 100%, 38%) }
#dark_chk:checked ~ * .ef17  { background-color: hsl( 40, 100%, 36%) }
#dark_chk:checked ~ * .ef18  { background-color: hsl( 50, 100%, 31%) }
#dark_chk:checked ~ * .ef19  { background-color: hsl( 60, 100%, 27%) }
#dark_chk:checked ~ * .ef20  { background-color: hsl( 70, 100%, 26%) }
#dark_chk:checked ~ * .ef21  { background-color: hsl( 80, 100%, 26%) }
#dark_chk:checked ~ * .ef22  { background-color: hsl( 90, 100%, 26%) }
#dark_chk:checked ~ * .ef23  { background-color: hsl(100, 100%, 24%) }
#dark_chk:checked ~ * .ef24  { background-color: hsl(110, 100%, 22%) }
#dark_chk:checked ~ * .ef25  { background-color: hsl(120, 100%, 19%) }
#dark_chk:checked ~ * button:hover  { filter: brightness(1.33) }
#dark_chk:checked ~ * button:active { filter: brightness(1.50) }
button { background-color: hsl(  0,   0%, 70%) }
.ef13  { background-color: hsl(  0, 100%, 59%) }
.ef14  { background-color: hsl( 10, 100%, 57%) }
.ef15  { background-color: hsl( 20, 100%, 55%) }
.ef16  { background-color: hsl( 30, 100%, 53%) }
.ef17  { background-color: hsl( 40, 100%, 51%) }
.ef18  { background-color: hsl( 50, 100%, 46%) }
.ef19  { background-color: hsl( 60, 100%, 42%) }
.ef20  { background-color: hsl( 70, 100%, 42%) }
.ef21  { background-color: hsl( 80, 100%, 42%) }
.ef22  { background-color: hsl( 90, 100%, 41%) }
.ef23  { background-color: hsl(100, 100%, 39%) }
.ef24  { background-color: hsl(110, 100%, 37%) }
.ef25  { background-color: hsl(120, 100%, 34%) }
button:hover  { filter: brightness(0.90); cursor: pointer }
button:active { filter: brightness(0.75); cursor: pointer }
/***/
#grading button { position: relative }
#grading span {
  position: absolute;
  background-color: rgba(0,0,0,0.15);
  font-size: 67%;
  top: 0;
  left: 0;
  padding: 0 0.5em;
  border-radius: 0.37em;
}
/* light */ #grading #q5 { background-color: #50c050 }
/* light */ #grading #q4 { background-color: #68b068 }
/* light */ #grading #q3 { background-color: #80a080 }
/* light */ #grading #q2 { background-color: #a08080 }
/* light */ #grading #q1 { background-color: #b06868 }
/* light */ #grading #q0 { background-color: #c05050 }
#dark_chk:checked ~ * #grading #q5 { background-color: #40a040 }
#dark_chk:checked ~ * #grading #q4 { background-color: #60a060 }
#dark_chk:checked ~ * #grading #q3 { background-color: #709070 }
#dark_chk:checked ~ * #grading #q2 { background-color: #907070 }
#dark_chk:checked ~ * #grading #q1 { background-color: #a06060 }
#dark_chk:checked ~ * #grading #q0 { background-color: #a04040 }
/* scrolllock, based on the answers on: https://stackoverflow.com/q/28411499 */
.scrolllock { overflow-y: hidden; max-height: 100% }
.scrolllock #page { filter: blur(0.2em) }
/* taj_chk button */
                      .qalqala { color: #08c }
#dark_chk:checked ~ * .qalqala { color: #9cf }
                      .madd { color: #d70 }
#dark_chk:checked ~ * .madd { color: #fb0 }

/* Noto Sans Arabic - Bold, downloaded from: https://www.google.com/get/noto/ */
/* It is under SIL OFL. It is converted from TrueType to WOFF using */
/* the WOFFjs-based WOFFer at: https://andrewsun.com/tools/woffer-woff-font-converter/ */
/* and to WOFF2 using: https://everythingfonts.com/ttf-to-woff2 */
@font-face {
  font-family: NotoSansArabicBoldWeb;
  font-style: normal;
  font-weight: 700;
  src: url('./NotoSansArabic-Bold.woff2') format('woff2'),
       url('./NotoSansArabic-Bold.woff')  format('woff');
}

* {
  font-family: NotoSansArabicBoldWeb, "Noto Sans Arabic", sans;
  font-weight: bold;
  background-color: var(--bgcolor);
  color: var(--fgcolor);
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#page {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  direction: rtl;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h2 { text-align: center }
button {
  display: inline-block;
  width: 3em;
  margin: 0.25em 0.125em;
  padding: 0 0.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  border: none;
  font-size: inherit; /* because it defaults to another value */
}
#records { margin-bottom: 0.5em; margin-top: 0.75em }
#records button { width: 5.75em; margin: 0.25em 0.125em; }
#records span { display: inline-block; background: none; width: 7em; margin: 0.25em 0.125em; }

#altmode { margin: 0 }
#altmode button { width: 9.25em; margin: 0.25em 0.125em }
/* that specific width so that #altmode and #multimode are the same width */

                          .faint { background: hsl(0,0%,80%) !important }
#dark_chk:checked ~ #page .faint { background: hsl(0,0%,35%) !important }

#multimode {
  position: sticky; top: 0;
}

#multimode #multi-start {
  background: hsl( 90, 100%, 41%);  /* same as ef22 */
  color: black;
  /* box-shadow: 0 0 0.2em 0.1em hsl( 60, 100%, 42%);  /1* same as ef19 *1/ */
  width: 5em;
}

#dark_chk:checked ~ #page #multimode #multi-start {
  background: hsl( 90, 100%, 26%);  /* same as ef22 */
  color: white;
  /* box-shadow: 0 0 0.2em 0.2em hsl( 60, 100%, 27%);  /1* same as ef19 *1/ */
}

#warning_content {
  background: none;
}

.list, #warning_content {
  /* width: calc( 7.2em + round( 10em, 3.25em )); */
  width: min( 90%, 46.3em );
  margin: auto;  /* center */
}
.list div { display: inline-block; min-width: 50%; }
.list div span { float: right; display: inline-block; }
.list div span:nth-child(2) { width: calc( 100% - 7.2em ) } /* 7.2 = width + padding of name */
.list div span:first-child {
  clear: both;
  width: 6.2em;
  padding-right: 1em;
  font-weight: bold;
  color: var(--nameclr);
}
#recite {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
#pop {
  font-size: calc(1em + 1.8vmin);
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  opacity: 0;
}
                    #pop { background-color: rgba(255,255,255,0.90) }
#dark_chk:checked ~ #pop { background-color: rgba(  0,  0,  0,0.75) }
#msg {
  background-color: transparent;
  margin: 3vh 1vmin;
}
#pop button { width: 9em }
#grading {
  background-color: transparent;
  max-width: calc( 3 * 9.125em ); /* more than the width of three #pop a */
  margin: auto;
}

#prefs button span { background-color: inherit }
#prefs button { width: 6em; margin: 0.25em 0.125em; }
#prefs #quick_btn { width: 12.5em }
#prefs #byword_btn { width: 12.5em }
#prefs .mvbtns_btn { display: none; width: 12.5em; text-align-last: justify; }
#prefs #mvbtns_x   { display: inline-block; text-align: right }
#prefs #txt_btn { display: block; width: 15em; text-align: right; position: relative; z-index: 1 }
#prefs #mvbtns { display: inline-block; background: none }

.btns_container {
  background: var(--prefbg);
  border-radius: 0.25em; /* same as button's */
  border: 0.05em solid var(--prefbox);
  width: 21em;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0.25em;
}

.mode_prefs {
  padding-top: 1.5em;
  position: relative;
  top: -1.5em;
  z-index: 0;
  display: none;
  margin-bottom: -1.25em; /* why is this needed? */
}

/* all the following contents are followed by U+2003 EM SPACE */
#dark_chk:checked      ~ #page #dark_btn::before { content: "✔️ "; color: transparent; text-shadow: 0 0 var(--fgcolor) }
#dark_chk:not(checked) ~ #page #dark_btn::before { content: "❌ "; color: transparent; text-shadow: 0 0 var(--fgcolor) }
#taj_chk:checked       ~ #page #taj_btn::before  { content: "✔️ "; color: transparent; text-shadow: 0 0 var(--fgcolor) }
#taj_chk:not(checked)  ~ #page #taj_btn::before  { content: "❌ "; color: transparent; text-shadow: 0 0 var(--fgcolor) }
#quick_chk:checked       ~ #page #quick_btn::before  { content: "✔️ "; color: transparent; text-shadow: 0 0 var(--fgcolor) }
#quick_chk:not(checked)  ~ #page #quick_btn::before  { content: "❌ "; color: transparent; text-shadow: 0 0 var(--fgcolor) }

/* both contents start with a single NBSP */
#txt_chk:not(checked)  ~ #page #txt_btn::before { content: " وضع التسميع: عثماني (لا كتابة)" }
/* this content uses U+2002 EN SPACE before and after the word "إملائي" */
#txt_chk:checked       ~ #page #txt_btn::before { content: " وضع التسميع: إمــلائي (كتابة)" }

#txt_chk:not(checked)  ~ #page #uthm_prefs { display: block }
#txt_chk:not(checked)  ~ #page #imla_prefs { display: none }
#txt_chk:checked       ~ #page #uthm_prefs { display: none }
#txt_chk:checked       ~ #page #imla_prefs { display: block }

#byword_chk:not(checked) ~ #page #byword_btn #byword_y { display: none }
#byword_chk:not(checked) ~ #page #byword_btn #byword_n { display: inline }
#byword_chk:checked      ~ #page #byword_btn #byword_y { display: inline }
#byword_chk:checked      ~ #page #byword_btn #byword_n { display: none }

button {
 user-select: none;  /* because it selects on long tap */
}

hr { color:#aaa }

.multi_hr { margin: 0 }

#warning {
  text-align: center;
  background: #903;
  padding: 0.33em 1em;
  box-shadow:
        /* https://stackoverflow.com/a/21902649 */
        inset 0 -2em 4em -1em rgba(0, 0, 0, 0.5);
}

#warning, #warning * {
  color: white;
}

#warning summary {
  font-size: 1.25em;
  background: none;
  color: gold;
}

#warning summary.collapsed {
  font-size: 1em;
}

#page #warning a.contact {
  display: inline;
  width: auto;
  /* background: #401; */
  background: none;
  text-decoration: underline;
  margin: 0;
  padding: 0;
  /* color: #88f; */
  color: #99f;
  font-family: "Times New Roman", serif;
}

#page #warning a.contact:focus,
#page #warning a.contact:hover {
  color: #ccf;
  text-shadow: 0 0 0.5em #88c;
}

#page #warning a.contact:active {
  color: #fff;
  text-shadow: 0 0 0.5em #88c;
}

#page #warning button {
  background: #db195a;
}

#page #warning #warn_show_btn {
  padding: 0 1em;
  margin-right: 1em;
  width: auto;
  display: none;
}

#page #warning #warn_hide_btn {
  display: block;
  padding: 0 2em;
  margin: 0.25em auto;
  width: auto;
}

#page #warning summary.collapsed #warn_show_btn {
  display: inline-block;
}

/* remove the marker: https://stackoverflow.com/a/56649741 */
details > summary { list-style: none }
details > summary::-webkit-details-marker { display: none }

#repeat_btn,
#gonext_btn {
  display: none;
  position: fixed;
  box-sizing: border-box;
  right: 0.5rem;
  width:  3rem;
  height: 3rem;
  opacity: 75%;
}

#repeat_btn svg,
#gonext_btn svg {
  background: none;
  fill: var(--fgcolor);
  vertical-align: middle;
}

#repeat_btn { bottom: 4rem } /* 0.5 + 3 + 0.5 */
#gonext_btn { bottom: 0.5rem }

